a {
  color: black;
  text-decoration: none;
  line-height: 1.8em;
}
a:hover {
  text-decoration: none;
  color: black;
}

.holder {
  padding-left: 2.25em;
}
.a-container {
  display: flex;
  justify-content: space-around;
}
#code-margin {
  margin-right: 1em;
}
.repo-link {
  margin-top: 0.5em;
  text-decoration: none;
  line-height: 1em;
  border: 3px solid black;
  border-radius: 16px;
  padding: 0.25em;
}
.repo-link:hover {
  border: 3px solid black;
  box-shadow: 7px 7px 21px 5px #b6b6b65c;
  background-color: #d9dce0;
}
.p-text {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 1 rem;
}
.textName {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: black;
  font-size: 1em;
}
.card-container {
  display: flex;
  flex-direction: row;
}
.flex-item {
  width: 90%;
  display: flex;
  align-items: center;
  margin-bottom: 6.5em;
}
.flex-item img {
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 500px;
  max-height: 600px;
  box-shadow: 0px 0px 18px 12px #88888889;
  border-radius: 20px;
  border: 1em;
}

@media only screen and (max-width: 750px) {
  #code-margin {
    margin-right: 1.25em;
  }
  .flex-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5em;
  }
  .flex-item img {
    object-fit: contain;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 500px;
    max-height: 600px;
    box-shadow: 0px 0px 18px 8px #88888889;
    border-radius: 0px;
    border: 1em;
  }
  .holder {
    padding-left: 0;
  }
  .textName {
    border-bottom-style: solid;
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    color: black;
    font-size: 1.2em;
    margin-top: 2em;
  }
  .p-text {
    padding-left: 1em;
    padding-bottom: 2em;
  }
}
@media only screen and (max-width: 610px) {
  .flex-item img {
    object-fit: fill;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 90%;
    max-height: 400px;
    box-shadow: 0px 0px 18px 8px #88888889;
    border-radius: 0px;
    border: 1em;
  }
}
