body,
body * {
  font-family: "Poppins", sans-serif;
}
.hero-image {
  background: rgb(4, 71, 126);
  opacity: 0.99;
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
  height: 92vh;
  object-fit: fill;
}
.icon-bar {
  width: 9em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}
.icon-bar a {
}
.icon-bar img:hover {
  filter: drop-shadow(0px 0px 10px #53535389);
}
.icon-bar img {
  width: 2.1em;
}

.layout {
  display: flex;
  min-height: 400px;
}
.header-text {
  padding-top: 8em;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: #f1f4f9;
  font-size: 4.5em;
}
.text {
  line-height: 1.8em;
  color: #f1f4f9;
  font-size: 1.8em;
}

@media only screen and (max-width: 750px) {
  .hero-image {
    background: rgb(4, 71, 126);
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
    height: 90vh;
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .l-left {
    padding-top: 0;
    padding-left: 0;
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .name {
    color: black;
    font-size: 3em;
    font-weight: bold;
  }

  .text {
    line-height: 1.8em;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 0;
    width: 0;
    position: none;
    right: none;
    top: none;
    padding-top: 1.5em;
    padding-right: 0.5em;
    background-color: #f1f4f9;
  }

  .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: none;
  }
  .sidebar a {
    padding-top: 4em;
    padding-right: 3em;
  }
}
@media only screen and (max-width: 500px) {
  .name {
    font-size: 2.5em;
  }
}
